@charset "UTF-8";
body {
  font-size: 16px;
  background-color: #10141b;
  margin: 0%;
}

.barranegra {
  background-color: black;
  height: 70px;
}

.barranegra__tamaño {
  width: 80px;
  margin: 0 auto;
  display: block;
}

.menu {
  text-align: center;
  list-style: none;
  color: white;
  background-color: #011d33;
  margin: auto;
}
.menu li {
  display: inline-block;
}
.menu li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
}
.menu li a:hover {
  background: #49ada8;
}

.fondoprincipal {
  background-image: url(img/harryfondo.jpg);
}

.banner {
  max-width: 100%;
}

.logoharry {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

footer {
  text-align: center;
  padding: 3px;
  color: white;
}

.piehorizontal {
  display: block;
}

.youtube {
  width: 50px;
}

.instagram {
  width: 30px;
}

.primerparrafo {
  font-family: "Cinzel", serif;
  text-align: center;
  color: #B39048;
  white-space: pre-line;
  animation-duration: 5s;
  animation-name: aparecer;
  font-size: 200%;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*TITULOS */
h1 {
  font-family: "Cinzel", serif;
  text-align: center;
  color: #B39048;
  text-align: center;
  font-size: 300%;
}

/*FIN TITULOS */
h2 {
  font-family: "Cinzel", serif;
  text-align: center;
  color: #B39048;
  font-size: 200%;
}

h3 {
  color: white;
}

p {
  text-align: center;
  color: white;
}

.JuegoHarry p {
  font-family: "Cinzel", serif;
  color: #B39048;
  font-size: 60px;
  font-weight: bold;
}

.harryseleccionador p {
  font-family: "Cinzel", serif;
  color: #B39048;
  font-size: 60px;
  font-weight: bold;
}

#FondoPantalla {
  background-image: url(img/fondolibrosypeliculas.png);
}

.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  transition: transform 1.5s;
}
.contenedor:hover {
  transform: scale(1.1);
}

.contenedor__cards {
  margin: 70px 0;
}

.card {
  background: none;
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.card__thumbnail {
  /*PARTE DE ATRAS DE LA CARTA*/
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
}

.card__thumbnail2 {
  /*PARTE DE ATRAS DE LA CARTA MYSTERY*/
  border-radius: 10px;
}

.card__img1 {
  width: 80%;
  height: 50%;
  float: left;
  border-radius: 12px;
}

.card__img {
  width: 100%;
  height: 30%;
  float: left;
}

.card__titulo1 {
  font-family: "Cinzel", serif;
  color: #B39048;
  font-size: 60px;
  font-weight: bold;
  right: 10%;
  bottom: 40%;
  text-align: left;
}

.card__titulo2 {
  font-family: "Cinzel", serif;
  color: #B39048;
  font-size: 60px;
  font-weight: bold;
}

.card__titulo {
  font-family: "Cinzel", serif;
  color: #B39048;
  font-size: 60px;
  font-weight: bold;
}

.card__enlace {
  color: #000;
}

.card_extracto {
  line-height: 28px;
  color: white;
  margin-bottom: 20px;
}

.boton {
  border: none;
  min-width: 90px;
  height: 40px;
  padding: 0 30px;
  color: black;
  display: inline-block;
  border-radius: 9px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  background: white;
  transition: 0.3s ease all;
}
.boton:hover {
  color: white;
  background: #B39048;
  text-decoration: none;
}

.pantallapelicula {
  background-image: url(img/pantallapelicula.jpg);
  width: 100%;
}

/* no va, es h2
.TituloLibrosyPeliculas{
	font-family: 'cinzel', serif;
	font-size: 30px;
	font-weight: 700;
	line-height: 32px;
	text-align: center;
	color: #B39048;
	margin: 0;
}

*/
.separadores {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
}

.separador {
  border-bottom: 1px solid #b9b4b3;
  opacity: 0.26;
  flex: 1 1;
}

.imagenseparador {
  display: block;
  margin: 0px 10px 20px;
}

.padre-flex {
  display: flex;
  background-color: none;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  height: auto;
}
.padre-flex div {
  margin: 10px;
  padding: 20px;
  font-size: 16px;
  text-align: center;
}
.padre-flex div .card1 {
  position: relative;
  width: 25%;
  margin: 5;
  height: auto;
}
.padre-flex div .card__figure {
  width: 75%;
  height: 50%;
  float: right;
}
.padre-flex div .card__figure .card__image1 {
  width: 100%;
}
.padre-flex .botonTextoVer {
  border: none;
  min-width: 90px;
  padding: 0px 50px;
  height: 40px;
  border-radius: 9px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  background: #B39048;
  transition: 0.3s ease all;
  display: inline-flex;
  color: black;
}
.padre-flex .botonTextoVer:hover {
  color: #B39048;
  background: white;
  text-decoration: none;
}
.padre-flex .card__copy {
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 820px) {
  .padre-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card1 {
  position: relative;
  width: 25%;
  margin: 5;
  height: auto;
}
@media (max-width: 820px) {
  .card1 {
    width: 50%;
  }
}

.card__figure {
  width: 75%;
  height: 50%;
  float: right;
}

.card__image1 {
  width: 100%;
}

.botonTextoVer {
  border: none;
  min-width: 90px;
  padding: 0px 50px;
  height: 40px;
  border-radius: 9px;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  background: #B39048;
  transition: 0.3s ease all;
  display: inline-flex;
  color: black;
}
.botonTextoVer:hover {
  color: #B39048;
  background: white;
  text-decoration: none;
}

.card__copy {
  font-family: "Montserrat", sans-serif;
}

.card2 {
  width: 25%;
  margin: 5;
}

.card__figure2 {
  width: 75%;
  height: 50%;
  float: none;
}

.card__image2 {
  width: 50%;
  height: 50%;
  float: none;
}

.card__title2 {
  text-align: center;
  font-size: 13px;
  width: 70px;
}

.LibroHP1 {
  width: 15%;
}

.DescripcionLibros {
  font-family: "Cinzel", serif;
  text-align: center;
  color: #B39048;
  font-weight: bold;
  font-size: 120%;
}

/*SECCION STORE*/
.merch {
  width: 10%;
}

/*SECCION STORE*/
.form-register {
  width: 400px;
  background: #bd3535;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: "cinzel", serif;
  color: white;
}
.form-register a {
  color: white;
  text-decoration: none;
  font-family: "cinzel", serif;
}
.form-register a:hover {
  color: #ebe2e1;
  text-decoration: underline;
}

.controls {
  width: 95%;
  background: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.botonregistro {
  width: 90%;
  background: #B39048;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px;
}

.ContenedorAtracciones {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}

.Atracciones {
  background: none;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}

.Atracciones__img {
  width: 200px;
}

.Atracciones__Titulo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  text-align: center;
}

.Atracciones__enlace-titulo {
  color: #B39048;
}

/*grid*/
.grilla {
  display: grid;
  grid-template-columns: 600px 300px;
  grid-template-rows: 190px auto;
  grid-template-areas: "imagennoticia titulo" "imagennoticia parrafo";
  grid-column-gap: 50px;
  align-items: center;
  width: 100%;
  margin: 0px;
}

.titulo {
  font-family: "Cinzel", serif;
  text-align: center;
  color: #B39048;
  grid-area: titulo;
  font-size: 25px;
}

.parrafo {
  grid-area: parrafo;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 16px;
  justify-content: right;
}

.imagennoticia {
  grid-area: imagennoticia;
  padding: 20px;
  font-size: 16px;
}

.padre-flex_store {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  height: auto;
}

.card__title {
  animation-duration: 5s;
  animation-name: aparecer;
}

.imagenCasas {
  width: 60%;
  align: center;
  animation-duration: 5s;
  animation-name: aparecer;
}

.card__casas {
  width: 75%;
  height: 50%;
  float: right;
}

.merchporitems-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
}
.merchporitems-flex .bordes {
  width: 200px;
  height: 200px;
  border-style: solid;
  padding: 3px 10px;
  border: PowderBlue 1px solid;
  border-radius: 10px;
  align-items: center;
}
.merchporitems-flex .bordes .iconomerch {
  width: 100px;
}

/*# sourceMappingURL=style.css.map */
