.card2{
	width: 25%;
	margin: 5;
}
.card__figure2{
	width: 75%;
    height: 50%;
	float: none;

}

.card__image2{
	width: 50%;
    height: 50%;
	float: none;
}

.card__title2{
	text-align: center;
	font-size: 13px;
	width: 70px;
}

.LibroHP1{
	width: 15%;
}

.DescripcionLibros{
font-family: 'Cinzel', serif;
	text-align: center;
	color: #B39048;
	font-weight:bold;
	font-size: 120% ;
}